$c1: #ffeafe;
$c2: #9ea9f0;
$c3: #ccc1ff;
$c4: #ffeafe;
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  border: 0;
  font-size: 14px;
  min-height: 100%;
  width: 100%;
  background: radial-gradient($c2, #000);
}

//html {
//  height: 100%;
//  background: repeating-linear-gradient(
//      -30deg,
//      transparent,
//      transparent 100px,
//      $c1 100px,
//      $c1 101px
//    ),
//    repeating-linear-gradient(30deg, $c2, $c2 100px, $c1 100px, $c1 101px);
//  background-color: $c2;
//}
