.state {
  background-color: orange;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.playing {
  background-color: #4caf50;
}

.error {
  background-color: red;
}

.frame{
  width: 100%;
  aspect-ratio: 16 / 9;
}